{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12 col-md-6 mx-auto">
            <div class="card">
                <h5 class="card-header">Formulario para cambiar su clave</h5>
                <div class="card-body">
                    <h5 class="card-title">Debe ingresar el correo electrónico que usó al registrarse:</h5>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if form.email.errors %}
                        {{ form.email.errors }}
                        {% endif %}
                        <div class="form-group from-control">
                            {{ form.email }}
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm" value="Reset password" />
                    </form>
                    <p><a href="{% url 'login' %}">Volver al Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}