{% extends 'layout.html' %}

{% block body %}
<section id="acercade">
    <div class="container">
        <h1 class="text-center my-5">ACERCA DE NOSOTROS</h1>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                {% load static %}
                <img src={% static 'images/board_photo.png' %} alt="" class="img-thumbnail img-fluid mx-auto"
                    height="80%" width="80%">
            </div>
            <div class="col-sm-12 col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur fuga expedita magnam tenetur
                    assumenda et. Eius
                    ab mollitia explicabo, dignissimos maiores itaque ratione similique. Praesentium libero maxime
                    necessitatibus
                    quisquam nisi?</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque blanditiis laboriosam, reprehenderit
                    eaque natus
                    corporis similique obcaecati dicta deserunt aut voluptates, culpa pariatur nesciunt, aspernatur quo
                    non
                    incidunt
                    sit! Obcaecati!
                    Hic deleniti fugit cupiditate ducimus at. Quasi pariatur non nemo quos ratione sed vel id quisquam,
                    minima incidunt
                    veritatis quam quod fugit ducimus, itaque fuga, temporibus repudiandae et commodi aperiam.
                    At soluta non ullam nesciunt ea excepturi maxime quae fuga quia atque! Veritatis suscipit iure
                    commodi.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}