{% extends 'layout.html' %}

{% block body %}
<h1 class="text-center my-4">
    Listado de productos
</h1>
<div class="container">
    <div class="row">
        <ul>
            {% for producto in lista_productos %}
            <li><a href="{% url 'producto' producto.id %}"><span
                        class="text-capitalize font-weight-bold">{{producto.title}}</span>:</a>
                <p>{{producto.description}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>
{% endblock %}