{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div class="row my-4">
        <div class="col-sm-12 col-md-6 mx-auto">
            <h1>Registro producto</h1>
        </div>
    </div>
    <form enctype="multipart/form-data" action="{% url 'producto_nuevo' %}" method="post" class="card bg-light">
        <div class="row mt-3">
            <div class="col-sm-11 mx-auto card-text">
                {% csrf_token %}
                <div class="form-group row">
                    {{form.title }} {{form.title.errors}}
                </div>
            </div>
        </div>
        <div class="row card-body">
            <div class="col-sm-12 col-md-6 mx-auto">
                <div class="mb-3">
                    <label for="imagen_input" class="col-form-label">Imagen:</label>
                    {{form.image}}
                    {{form.image.errors }}
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="mb-3">
                    <label for="seccion_input" class="col-form-label">Categoría:</label> {{ form.category }}
                    {{form.category.errors }}
                </div>
                <div class="mb-3">
                    <label for="contenido_input">Descripción:</label><br> {{ form.description }}
                    {{form.description.errors }}
                </div>
                <div class="form-inline">
                    <div class="form-group mb-2">
                        <label for="contenido_input">Precio: $</label><br> {{ form.price }}
                        {{form.price.errors }}
                    </div>
                    <div class="col-sm-12 col-md-3 form-group mx-sm-3 mb-2">
                        <input type="submit" value="Crear" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}